<configuration>
	<appSettings>
		<!--add key="applicationName" value="OGen-NTier_UTs" /-->
		<add key="applications" value="OGen-NTier_UTs:YetAnotherApp" />


		<add key="OGen-NTier_UTs:ConfigModes" value="DEBUG:!DEBUG" />
		<add key="OGen-NTier_UTs:DBServerTypes" value="PostgreSQL:SQLServer" />
		<!-- IsDefault::GeneratedSQL::IsIndexed_andReadOnly::Connectionstring -->
		<add key="OGen-NTier_UTs:DBConnection:DEBUG:PostgreSQL" value="True::True::False::Server=127.0.0.1;Port=5432;User ID=postgres;Password=passpub;Database=OGen-NTier_UTs;"/>
		<add key="OGen-NTier_UTs:DBConnection:!DEBUG:PostgreSQL" value="True::False::False::Server=127.0.0.1;Port=5432;User ID=postgres;Password=passpub;Database=OGen-NTier_UTs;"/>
		<add key="OGen-NTier_UTs:DBConnection:DEBUG:SQLServer" value="False::True::False::server=127.0.0.1;uid=sa;pwd=passpub;database=OGen-NTier_UTs;"/>
		<add key="OGen-NTier_UTs:DBConnection:!DEBUG:SQLServer" value="False::False::False::server=127.0.0.1;uid=sa;pwd=passpub;database=OGen-NTier_UTs;"/>
		<add key="OGen-NTier_UTs:DBLogfile:DEBUG:PostgreSQL" value="c:\ogen-PostgreSQL-log.txt" />
		<add key="OGen-NTier_UTs:DBLogfile:!DEBUG:PostgreSQL" value="" />
		<add key="OGen-NTier_UTs:DBLogfile:DEBUG:SQLServer" value="c:\ogen-SQLServer-log.txt" />
		<add key="OGen-NTier_UTs:DBLogfile:!DEBUG:SQLServer" value="" />


		<add key="YetAnotherApp:ConfigModes" value="DEBUG:!DEBUG" />
		<add key="YetAnotherApp:DBServerTypes" value="PostgreSQL:SQLServer" />
		<!-- IsDefault::GeneratedSQL::IsIndexed_andReadOnly::Connectionstring -->
		<add key="YetAnotherApp:DBConnection:DEBUG:PostgreSQL" value="True::True::False::Server=127.0.0.1;Port=5432;User ID=postgres;Password=passpub;Database=OGen-NTier_UTs;"/>
		<add key="YetAnotherApp:DBConnection:!DEBUG:PostgreSQL" value="True::False::False::Server=127.0.0.1;Port=5432;User ID=postgres;Password=passpub;Database=OGen-NTier_UTs;"/>
		<add key="YetAnotherApp:DBConnection:DEBUG:SQLServer" value="False::True::False::server=127.0.0.1;uid=sa;pwd=passpub;database=OGen-NTier_UTs;"/>
		<add key="YetAnotherApp:DBConnection:!DEBUG:SQLServer" value="False::False::False::server=127.0.0.1;uid=sa;pwd=passpub;database=OGen-NTier_UTs;"/>


		<add key="Some_UT_config" value="tweak it here" />
	</appSettings>
</configuration>