<?xml version="1.0" encoding="utf-8" ?>
<!--

OGen
Copyright (c) 2002 Francisco Monteiro

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

-->
<configuration>
	<appSettings>

		<add key="Webservices_ServerURI" value="http://127.0.0.1" />
		<add key="Webservices_ServerPort" value="31818" />

		<add key="Some_UT_config" value="tweak it here" />
	</appSettings>
	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="tcp">
					<clientProviders>
						<formatter 
							ref="binary" 
							typeFilterLevel="Full"/>
						<provider 
							type="OGen.NTier.lib.distributedlayer.remoting.client.CompressionClientSinkProvider, OGen.NTier.lib.distributedlayer.remoting.client-2.0" />
						<provider 
							type="OGen.NTier.lib.distributedlayer.remoting.client.EncryptionClientSinkProvider, OGen.NTier.lib.distributedlayer.remoting.client-2.0"
							keysPath="X:\ogen.dev-2.0\OGen-Kick\keys-client"
							clientID=" YOU MUST SET CLIENT KEY FILE HERE! "/>
					</clientProviders>
				</channel>
			</channels>
			<client>
				<wellknown 
					type="OGen.NTier.Kick.lib.distributedlayer.remoting.server.RS_CRD_Authentication, OGen.NTier.Kick.lib.distributedlayer.remoting.client-2.0"
					url="tcp://127.0.0.1:30818/CRD_Authentication.remoting" />
				<wellknown 
					type="OGen.NTier.Kick.lib.distributedlayer.remoting.server.RS_CRD_Permition, OGen.NTier.Kick.lib.distributedlayer.remoting.client-2.0"
					url="tcp://127.0.0.1:30818/CRD_Permition.remoting" />
				<wellknown 
					type="OGen.NTier.Kick.lib.distributedlayer.remoting.server.RS_CRD_Profile, OGen.NTier.Kick.lib.distributedlayer.remoting.client-2.0"
					url="tcp://127.0.0.1:30818/CRD_Profile.remoting" />
				<wellknown 
					type="OGen.NTier.Kick.lib.distributedlayer.remoting.server.RS_CRD_User, OGen.NTier.Kick.lib.distributedlayer.remoting.client-2.0"
					url="tcp://127.0.0.1:30818/CRD_User.remoting" />
				<wellknown 
					type="OGen.NTier.Kick.lib.distributedlayer.remoting.server.RS_DIC_Dic, OGen.NTier.Kick.lib.distributedlayer.remoting.client-2.0"
					url="tcp://127.0.0.1:30818/DIC_Dic.remoting" />
				<wellknown 
					type="OGen.NTier.Kick.lib.distributedlayer.remoting.server.RS_FOR_Forum, OGen.NTier.Kick.lib.distributedlayer.remoting.client-2.0"
					url="tcp://127.0.0.1:30818/FOR_Forum.remoting" />
				<wellknown 
					type="OGen.NTier.Kick.lib.distributedlayer.remoting.server.RS_FOR_Thread, OGen.NTier.Kick.lib.distributedlayer.remoting.client-2.0"
					url="tcp://127.0.0.1:30818/FOR_Thread.remoting" />
				<wellknown 
					type="OGen.NTier.Kick.lib.distributedlayer.remoting.server.RS_LOG_Log, OGen.NTier.Kick.lib.distributedlayer.remoting.client-2.0"
					url="tcp://127.0.0.1:30818/LOG_Log.remoting" />
				<wellknown 
					type="OGen.NTier.Kick.lib.distributedlayer.remoting.server.RS_NWS_Attachment, OGen.NTier.Kick.lib.distributedlayer.remoting.client-2.0"
					url="tcp://127.0.0.1:30818/NWS_Attachment.remoting" />
				<wellknown 
					type="OGen.NTier.Kick.lib.distributedlayer.remoting.server.RS_NWS_Author, OGen.NTier.Kick.lib.distributedlayer.remoting.client-2.0"
					url="tcp://127.0.0.1:30818/NWS_Author.remoting" />
				<wellknown 
					type="OGen.NTier.Kick.lib.distributedlayer.remoting.server.RS_NWS_Highlight, OGen.NTier.Kick.lib.distributedlayer.remoting.client-2.0"
					url="tcp://127.0.0.1:30818/NWS_Highlight.remoting" />
				<wellknown 
					type="OGen.NTier.Kick.lib.distributedlayer.remoting.server.RS_NWS_News, OGen.NTier.Kick.lib.distributedlayer.remoting.client-2.0"
					url="tcp://127.0.0.1:30818/NWS_News.remoting" />
				<wellknown 
					type="OGen.NTier.Kick.lib.distributedlayer.remoting.server.RS_NWS_Profile, OGen.NTier.Kick.lib.distributedlayer.remoting.client-2.0"
					url="tcp://127.0.0.1:30818/NWS_Profile.remoting" />
				<wellknown 
					type="OGen.NTier.Kick.lib.distributedlayer.remoting.server.RS_NWS_Source, OGen.NTier.Kick.lib.distributedlayer.remoting.client-2.0"
					url="tcp://127.0.0.1:30818/NWS_Source.remoting" />
				<wellknown 
					type="OGen.NTier.Kick.lib.distributedlayer.remoting.server.RS_NWS_Tag, OGen.NTier.Kick.lib.distributedlayer.remoting.client-2.0"
					url="tcp://127.0.0.1:30818/NWS_Tag.remoting" />
				<wellknown 
					type="OGen.NTier.Kick.lib.distributedlayer.remoting.server.RS_WEB_User, OGen.NTier.Kick.lib.distributedlayer.remoting.client-2.0"
					url="tcp://127.0.0.1:30818/WEB_User.remoting" />
			</client>
		</application>
	</system.runtime.remoting>
</configuration>